raw_data/
results/
**/results
**/results_gn
**/results_new
._*
**/._*
.ipynb_checkpoints/
**/.ipynb_checkpoints/
__pycache__/
**/__pycache__/
.DS_Store/
**/.DS_Store/
iceshelves/pineisland/results_new/
continent_hubs.npy
